@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
.my-list {
  padding-left: 20px;
}

.Navbar ul, .my-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.u-cf:before, .u-cf:after {
  content: " ";
  display: table;
}
.u-cf:after {
  clear: both;
}

.u-hug {
  margin-top: 0 !important;
}

.u-pullRight {
  float: right;
}

.u-keyline {
  position: relative;
}
.u-keyline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ddd;
}

.u-link {
  display: inline;
  position: relative;
  border-bottom: 0;
  text-decoration: none;
  color: #333;
}
.u-link:hover {
  color: rgb(12.75, 12.75, 12.75);
}

.special-link {
  color: #9ad7eb !important;
  text-decoration: none;
}
.special-link:hover {
  color: rgb(111.4297520661, 198.1404958678, 226.5702479339);
}

.u-shadow {
  text-shadow: 4px 4px 0 #9ad7eb;
  transition: text-shadow 0.2s ease-in-out;
}
a:hover .u-shadow {
  text-shadow: -4px -4px 0 salmon;
}

@media (max-width: 576px) {
  .u-hidden\@sm-down {
    display: none !important;
  }
}
body {
  color: #333;
  font-size: 1.6rem;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.008em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  line-height: 1.2;
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin-top: unitSize(2);
  margin-bottom: 0;
}

h3, .h3 {
  font-size: 2rem;
  margin-top: unitSize(4);
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: rgb(25.5, 25.5, 25.5);
}

ul {
  padding-left: 1.8rem;
}

.Title {
  font-size: 8vw;
  font-family: Lato, "Open Sans", Helvetica, Arial;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  display: inline-block;
}
@media (min-width: 75px) {
  .Title {
    font-size: calc(8vw + (42px - 8vw) * (100vw - 75px) / -25px);
  }
}
@media (min-width: 50px) {
  .Title {
    font-size: 42px;
  }
}
.Title-sub {
  font-size: 0.34em;
  letter-spacing: 0.16em;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-top: unitSize(1.5);
  padding-top: unitSize(2);
  border-top: 0.45em solid;
}

.l-Wrapper {
  width: 80%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 576px) {
  .l-Wrapper--reset\@sm-down {
    width: 100%;
  }
}
.l-Header {
  margin-top: unitSize(8);
  margin-bottom: unitSize(4);
}
.l-Header-col {
  margin-top: unitSize(4);
  margin-bottom: unitSize(4);
}
@media (min-width: 576px) {
  .l-Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .l-Header-col:last-child:not(:first-child) {
    text-align: right;
  }
}

.l-Section {
  margin-top: unitSize(8);
}
.l-Section + .l-Section {
  position: relative;
  border-top: 1px solid #ddd;
}
.l-Section + .l-Section:before {
  content: "";
  font-size: 8vw;
  position: absolute;
  top: unitSize(0, -0.1);
  border-top: 0.153em solid;
  width: unitSize(5);
}
@media (min-width: 75px) {
  .l-Section + .l-Section:before {
    font-size: calc(8vw + (42px - 8vw) * (100vw - 75px) / -25px);
  }
}
@media (min-width: 50px) {
  .l-Section + .l-Section:before {
    font-size: 42px;
  }
}

.l-Section-title,
.l-Section-content {
  margin-top: unitSize(4);
}

.l-Section-content > :first-child {
  margin-top: 0;
}
.l-Section-content > p:first-child,
.l-Section-content > ul:first-child {
  margin-top: 0.3rem;
}

@media (min-width: 768px) {
  .l-Section {
    display: flex;
  }
  .l-Section:before {
    display: none;
  }
  .l-Section-title {
    flex: 0 0 24%;
  }
}
.l-Footer {
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: unitSize(16) unitSize(2)/-2 unitSize(4);
  padding-top: unitSize(4);
}
.l-Footer a {
  text-decoration: none;
  display: inline-block;
}
.l-Footer a:not(:last-child) {
  margin-right: unitSize(2);
}
.l-Footer a:hover {
  color: #111;
}
.l-Footer-col {
  padding-left: unitSize(2)/2;
  padding-right: unitSize(2)/2;
}

.Navbar {
  display: flex; /* Enable Flexbox */
  justify-content: space-between; /* Distribute items */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Wrap items on smaller screens */
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: 0.28rem;
  text-transform: uppercase;
  width: 100%;
  background-color: #111;
}
.Navbar ul {
  display: flex; /* Use flex for ul */
  flex-wrap: wrap; /* Allow wrapping */
  justify-content: center; /* Center ul items */
  padding: 0;
  margin: 0;
}
.Navbar li {
  display: flex; /* Change to flex */
  margin: 0 10px; /* Space between items */
}
.Navbar a {
  display: block;
  padding: 0 unitSize(1);
}

/*# sourceMappingURL=websitestyle.css.map */
